* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fefafa;
  color: #2a2a2a;
}

/* ---------------- Common style --------------------------- */

.container {
  max-width: 1100px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: rgb(0, 45, 91);
}

/* -------------- Common style ends --------------------------*/

/* ----------------- Header Style ---------------------------- */
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: #2a2a2a;
}

/* Nav links hover effects */
.nav-links a:hover {
  color: #dc2626;
}

/* Nav links active */
.nav-links .active {
  color: #dc2626;
}

.btn {
  text-decoration: none;
  background-color: #ec5b53;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #fff;
  transition: 0.3s ease;
}

/* Hire Me btn hover effect */
.btn:hover {
  background-color: #dc2626;
}

/* -------------- Header Style ends ---------------------*/

/* -------------- Main sections styles Starts -----------*/

/*  Hero Section styles starts */
.hero-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
}

.hero-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px 0;
}

.hero-links {
  list-style: none;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.hero-links li {
  margin-bottom: 15px;
}

.hero-links a {
  color: rgb(0, 45, 91);
}

.hero-links a:hover {
  color: #dc2626;
}

.hero-title {
  font-size: 4rem;
  font-weight: 600;
}

.hero-description {
  margin: 20px 0;
}

/* Hero text Area ends */

.hero-container img {
  width: 350px;
  border: 1px solid #dc2626;
  border-radius: 50%;
}

/* ----------------- Hero styles ends --------------------*/

/* --------------- Hero About section & About page (about.html) styles start ----------------------------*/
.about-section {
  background-color: #fff;
  padding: 30px 0;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
}

.about-title {
  font-size: 2.5rem;
  margin: 15px;
  text-align: center;
}

.about-subtitle {
  text-align: center;
}

.underline {
  width: 150px;
  border: 1px solid #dc2626;
  margin: 20px auto;
}

.about-content {
  width: 450px;
}

.about-content h3 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.subtitle-underline {
  width: 60px;
  border: 1px solid #dc2626;
  margin: 20px 0;
}

.about-content p {
  line-height: 28.05px;
  font-size: 17px;
}

.about-image {
  width: 300px;
  height: 340px;
  border-radius: 5px;
  background-color: #ec5b53;
  position: relative;
}
.about-image img {
  width: 300px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 30px;
}

/* About page (about.html - Let's talk with me ) text */
.about-email-text {
  margin-bottom: 20px;
  font-size: 17px;
}

/* About page (about.html - Let's talk with me ) Subin's Email */
.about-email {
  color: rgb(0, 45, 91);
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 0.8px;
}

/* ------------------------ About section styles ends ----------------------------------*/

/* --------------------- Testmonial or Clients Review Section starts -------------------*/
.testmonial-section {
  background-image: url("../images/background-image-shape.png");
  background-repeat: no-repeat;
  padding: 50px;
}

.testmonial-title {
  font-size: 2.4rem;
  text-align: center;
  margin: 20px 0;
}
.testmonial-subtitle {
  text-align: center;
}

/* clients review card container style */
.client-card-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  gap: 20px;
  margin-top: 50px;
}

/* clients review card styles */
.card {
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 10px #e1e1e16b;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card-icon {
  margin: 20px 0;
}

.card-image-img {
  height: 80px;
  border: 1px solid #dc2626;
  border-radius: 50%;
  padding: 5px;
}

.card-description {
  margin: 20px 0;
  text-align: center;
}

.card-line {
  width: 50px;
  border: 1px solid #dc2626;
  margin: 25px;
}

.card-title {
  color: #2a2a2a;
  margin-bottom: 20px;
  font-size: 1rem;
}
/* card styles end*/

/* ---------------------------------- Testmonial or Clients Review Section ends ----------------------- */

/* ---------------------------------- Stay in Touch section styles --------------------------------- */

.stay-in-touch-section {
  background-color: #fff;
}
.stay-in-touch-container {
  margin-top: 50px;
  padding: 50px 0;
  text-align: center;
}

.stay-in-touch-title {
  font-size: 2.5rem;
  margin: 15px;
}

.stay-in-touch-subtitle {
  margin: 20px 0;
}

.subscribe-container {
  margin: 25px 0;
  padding: 20px;
}

#subscribe-email {
  padding: 12px 20px;
  width: 400px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #ededed;
  font-size: 1rem;
  transition: 0.5s;
}

#subscribe-email:focus {
  border: 1px solid #dc2626;
}
.subscribe-btn {
  border: none;
  margin-left: 20px;
  font-size: 1rem;
  background-color: #ec5b53;
  color: #fff;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.subscribe-btn:hover {
  background-color: #dc2626;
}

/* --------------------------------- Stay in Touch section ends ------------------------------------- */

/*  ----******************- Home page main sections styles end -**********************--------*/

/* ----------------- Project Page main section styles starts--------------------------------------- */

#project-section,
#contact-section {
  margin: 30px 0;
  padding-bottom: 50px 0;
}

.project-title,
.contact-title {
  text-align: center;
  font-size: 2.4rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
  margin-bottom: 30px;
}

.project-card {
  border: 1px solid #dc2626;
  width: 530px;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 8px;
}

.project-card img {
  width: 250px;
  height: 100%;
  object-fit: fill;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.project-card-title {
  font-size: 1.2rem;
}
.btn-view {
  padding: 10px 20px;
  background-color: #ec5b53;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}
.btn-view:hover {
  background-color: #dc2626;
}

/* --------------- Project section styles end --------------- */

/* --------------- Contact section styles stars ------------------ */
#contact-section {
  padding-bottom: 60px;
}
.contact-details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.contact-detail-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: -1px 1px 5px 0px rgba(180, 180, 180, 0.75);
  text-align: center;
}

.contact-detail-box i {
  font-size: 35px;
  margin: 20px;
  color: #dc2626;
}
.contact-detail-box a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 45, 91);
}

/* contact form styles start */
#contact-form {
  background-image: url("../images/background-image-shape.png");
  background-repeat: no-repeat;
  margin-top: 30px;
}

.form-container {
  padding: 40px 70px;
  background-color: #fff;
  border-radius: 8px;
}
.form-subtitle {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.form-group {
  margin-bottom: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 17px;
  border: 3px solid rgb(226, 226, 226);
  transition: 0.5s;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border: 2px solid #dc2626;
}

.form-btn {
  background-color: #ec5b53;
  color: #fff;
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.form-btn:hover {
  background-color: #dc2626;
}

/* ------------------------------- contact form styles ends ----------------------- */

/* ----********************- Contact section styles ends -**********************----- */

/* ------------------------------- Footer style starts ---------------------------------- */

footer {
  background-color: rgb(0, 45, 91);
  color: #fff;
  padding: 20px 10px;
}

.footer-container {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 20px 0;
}

footer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-links li {
  list-style: none;
}

.footer-links a {
  color: #fff;
  font-size: 1.2rem;
}

.footer-title h2 {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.7px;
}

footer .line {
  width: 90%;
  border: 1px solid #b4b4b4;
  margin: 25px auto;
}

footer .copyright-text {
  text-align: center;
  margin: 20px;
  font-size: 1rem;
}

/* ----------------------------- Footer styles end ------------------------------------ */

/* ---------------------------------- END ---------------------- */
